<div class="col-md-3">
    <div class="thumbnail">
        <img src="<%= @image.url_prefix <> @image.img_url %>" alt="<%= @image.name %>">
        <div class="caption">
            <h4><a href="<%= @image.img_url %>"><%= @image.name %></a></h4>

            <p><%= @image.description %></p>
        </div>
    </div>
</div>
