<div class="col-md-3">
    <div class="thumbnail">
        <img src="<%= @image.url_prefix <> @image.img_url %>" alt="<%= @image.img_url %>">
        <div class="caption">
            <p><a href="<%= @image.img_url %>"><%= @image.img_url %></a></p>
        </div>
    </div>
</div>
