<div class="row">
  <div class="col-lg-6">
    <ul>
      <li>Global gallery: <a href="/gallery/">/gallery/</a></li>
      <li>User gallery: <a href="/gallery/testuser@foo.com">/gallery/testuser@foo.com</a></li>
    </ul>
  </div>

  <div class="col-lg-6">
  </div>
</div>
